@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
   url("./assets/fonts/Gotham-Light.otf") format("opentype");
  font-weight: normal;
  }
  

body *, body button {
  cursor: none !important; 
}

body {
  margin: 0;
  font-family: 'Gotham' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f7f8;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 13, 13);
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  overflow-x: hidden;
  
}


